<div class="about-wrapper">
    <div class="about-left">
        <div class="about-left-content">
            <div>
                <div class="shadow">
                    <div class="about-img">
                        <img src="../../../../assets/author.jpg" alt="about image"/>
                    </div>
                </div>
                <br><br>
                <h2>Sandra<br> Lazarevic</h2>
                <h3>IT student</h3>
            </div>
            <ul class="icons">
                <li><i class="fab fa-github-f" >
                   
                    <a href="https://github.com/sandral76"> <img src="../../../../assets/glogo.png" /> </a>
                </i></li>
                <li><i class="fab fa-linkedin">
                    <a href="https://www.linkedin.com/in/sandra-lazarevic-a5739719a/ "> <img src="../../../../assets/llogo.png" /></a>
                </i></li>
                <li><i class="fab fa-facebook-f">
                    <a href="https://www.facebook.com/profile.php?id=100014260086214"><img src="../../../../assets/flogo.png" /></a>
                </i></li>
            </ul>
        </div>
    </div>
    <div class="about-right">
        <h1>Zdravo<span>!</span></h1>
        <h2>Ovde možete pročitati nešto više o meni</h2>
        <div class="about-btns">
            <button type="button" class="btn btn-pink"><a href="#cv">CV</a></button>
            <button type="button" class="btn btn-white">VEŠTINE</button>
        </div>
        <div class="about-me">
            <p id="cv">
                Volim rad u timu i da inspirišem druge da koriste svoj pun potencijal<br>
                Brzo učim i spremna sam za učenje stvari za koje nisam imala dodira do sada.<br>
                Sigurna u sebe i dobro organizovana. Istrajna u donošenju odluka u teškim situacijama.<br>
            </p>
            <br> <br><br>

            <p id="vestine">
                Strani jezici:<br>Engleski jezik-čitanje odlično, komunikacija oclična, pisanje odlično<br>
                Nemački jezik-srednji nivo (B1)<br>
                Student 3. godine Inženjerstva informacionih sistema na Fakultetu tehničkih nauka u Novom Sadu.
            </p>
        </div>
    </div>
</div>
