<div class="container">
    <div class="header">
        <h1>O nama</h1>
        <h3>Predavanja iz predmeta Razvoj višeslojnih aplikacija predaje profesor Đorđe Pržulj, dok vežbe drži asistent Vladimir Fabri.</h3>
    </div>
    <div class="sub-container">
        <div class="teams">
            <img src="../../../../assets/ftn.jpg" />
            <div class="name">Fakultet Tehničkih nauka</div>
            <div class="desig">Trg Dositeja Obradovića 6, Novi Sad</div>
            <div class="about">Fakultet tehničkih nauka je jedna od najsavremenije organizovanih visokoobrazovnih institucija u regionu sa tradicijom dugom preko šest decenija, poznat i priznat u celom svetu, a inženjeri obrazovani na ovom Fakultetu, rade i postižu zapažene rezultate u svakom preduzeću koje ima veze sa tehnologijom, proizvodnjom, 
            obrazovanjem ili uslugama, jer od svih zanimanja koja se u našoj zemlji obrazuju, tehnika je i dalje najtraženija.</div>
            <div class="social-links">
                <a href="http://ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka">
                    <i class="fab fa-website-f">
                        <img src="../../../../assets/web.webp" />
                    </i>
                </a>
                <a href="https://www.linkedin.com/school/faculty-of-technical-sciences-university-of-novi-sad/">
                    <i class="fab fa-linkedin">
                        <img src="../../../../assets/llogo.png" />
                    </i>
                </a>
            </div>
        </div>
        <div class="teams">
            <img src="../../../../assets/profesor.png" />
            <div class="name">ĐORĐE PRŽULJ</div>
            <div class="desig">przulj@gmail.com</div>
            <div class="about">Diplomirao na Univerzitetu u Novom Sadu, Fakultet tehničkih nauka, mašinski odsek, smer za informaciono-upravljačke sisteme 1999. godine (prosečna ocena 8,15).
                Magistrirao na Univerzitetu u Novom Sadu, Fakultet tehničkih nauka, smer za telematiku, informacione i komunikacione sisteme 2004. godine (prosečna ocena 9,50).
                Doktorsku disertaciju pod nazivom „Servisno orijentisana arhitektura katastarskog informacionog sistema“ odbranio 2013. godine na Fakultetu tehničkih nauka Univerziteta u Novom Sadu.</div>
            <div class="social-links">
                <a href="https://www.linkedin.com/today/author/djordjeprzulj">
                    <i class="fab fa-linkedin">
                        <img src="../../../../assets/llogo.png" />
                    </i>
                </a>
            </div>
        </div>
        <div class="teams">
            <img src="../../../../assets/asiistent.png" />
            <div class="name">VALDIMIR FABRI</div>
            <div class="desig">vladimir_fabri98@uns.ac.rs</div>
            <div class="about">Upisao osnovne akademske studije Fakulteta tehničkih nauka 2017. godine, smer inženjerski menadžment. Diplomirao je sa prosečnom ocenom 9,70 i odbranio diplomski rad na temu „Implementacija jedinstvenih i integracionih testova u Spring boot aplikaciji“ 30.09.2021. sa ocenom 10. Iste godine Vladimir je upisao master studije inženjerskog menadžmenta, modul informacioni menadžment, i zaposlio se na Fakultetu tehničkih nauka kao saradnik u nastavi za predmet objektivno orijentisane (informacione tehnologije).</div>
            <div class="social-links">
                <a href="https://rs.linkedin.com/in/vladimir-fabri-7865a3198">
                    <i class="fab fa-linkedin">
                        <img src="../../../../assets/llogo.png" />
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>